*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("clip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.logo a{
    color: aliceblue;
    text-decoration: none;
    font-size: 40px;
}
.logo::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.logo:hover::after{
    width: 100%;
}
@media(max-width: 700px) {
    .logo a {
        font-size: 24px;
    }
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
   content: "";
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto; 
   transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    top: 30%;
    color: aliceblue;
    position: absolute;
    text-align: center;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: aliceblue;
}
.bttn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.bttn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 20px;
    }
}
.subheader{
    height: 50vh;
    width: 100%;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.subheader h1{
    padding-top: 13%;
    font-size: 40px;
}
@media(max-width: 700px){
    .subheader h1{
        font-size: 24px;
    }
}