*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.logo a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
   content: "";
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto; 
   transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.subheader{
    height: 50vh;
    width: 100%;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.subheader h1{
    padding-top: 13%;
    font-size: 40px;
}